.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 28px 60px;
  gap: 262px;
  width: 1440px;
  height: 102.31px;

  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    gap: 8px;
    width: 797px;
    height: 38px;
    flex: none;
    order: 1;
    flex-grow: 0;

    li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      gap: 4px;
      height: 38px;
      flex: none;
      order: 0;
      flex-grow: 0;
      list-style-type: none;
      a {
        text-decoration: none;
        color: $color-font-1;
      }
    }
  }
  .search-auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 226px;
    height: 46px;
    flex: none;
    order: 2;
    flex-grow: 0;
    a {
      text-decoration: none;
      color: $color-font-1;
    }
    svg {
      color: $color-font-1;
      width: 24px;
      height: 24px;
    }
    .log-in {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      gap: 4px;

      flex: none;
      order: 1;
      flex-grow: 0;
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;

        color: color-font-2;

        flex: none;
        order: 1;
        flex-grow: 0;
      }
    }
    .sign-up {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px 24px;
      gap: 10px;

      width: 108px;
      height: 46px;

      background: linear-gradient(100.28deg, #fbaf1a -0.05%, #fdd659 99.95%);
      box-shadow: 2px 2px 0px rgba(253, 214, 89, 0.42);
      border-radius: 39px;

      flex: none;
      order: 2;
      flex-grow: 0;
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;

        color: #000000;
        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
      }
    }
  }
}
